.container {
    display: flex;
    min-height: 80vh;
}

.sidebar {
    position: sticky;
    top: 64px;
    width: 33.33%;
    background: #f8f8f8;
    padding: 2rem 1rem;
    height: fit-content;
    min-width: 220px;
}

.content {
    width: 66.66%;
    padding: 2rem;
    overflow-y: auto;
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .sidebar, .content {
        width: 100%;
        min-width: 0;
    }
    .sidebar {
        position: static;
        top: auto;
        padding: 1rem;
    }
}